@page "/"
@using H4SoftwareTest.Codes
@* @attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")] *@

@inject AuthenticationStateProvider _authenticationStateProvider;
@* @inject RoleHandler _roleHandler; *@
@inject IServiceProvider _serviceProvider;

<PageTitle>Home</PageTitle>



    <h1>Hello, world!</h1>


@* <AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        Log in to view this page
    </NotAuthorized>
</AuthorizeView> *@


@* @if (_isAuthenticated)
{
    <div>
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </div>

    @if (_isAdmin)
    {
        <div>You are Admin.</div>
    }
    else
    {
        <div>You are not admin currently.</div>
    }
}
else
{
    <div>
        You must log in to view this page...
    </div>
} *@

 
@code{
    // might be better for us students
    public bool _isAuthenticated;
    private bool _isAdmin;

    protected override async Task OnInitializedAsync()
    {

        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isAuthenticated = user.Identity.IsAuthenticated;
        _isAdmin = user.IsInRole("Admin");

        // if(_isAuthenticated)
        // await _roleHandler.CreateUserRolesAsync(user.Identity.Name, "Admin", _serviceProvider);
    }
}
